<!-- Add you custom twig html here -->
<div class="site-timezone-location">
    <h2>Site Location and The Current Time</h2>
    <div class="country">Country : {{ country }} </div>
    <div class="city">City : {{ city }} </div>
    <div class="time">Date & Time : {{ time }} </div>
</div>